@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Assistant');



html body 
{
    font-family: 'Assistant', sans-serif;
    direction:rtl;
    height: 100%;
}



main { 
    height: 100vh;
    background-image: url(../images/sri.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    display:flex;
    border: black solid 0.5px;

}

#container{
width: fit-content;
margin: 0 auto;
}

#context{

    display: block;
    text-align: center;
    -webkit-box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.375)7D7D;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.375);
    width: 355px;
    height: 580px;
    margin-top: 100px;
    border: black solid 0.25px;
    background-color: white;
    opacity: 0.85;
    padding: 20px;

    

}

#photo
{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
	display:flex;
    background-image: url(../images/nir5.png);
    position: relative;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-bottom: 20px;
    margin-top: 15px;
    
}

#photo:hover{

    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


h1{
    margin:10px;
    margin-bottom: 10px;
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 1.6rem;
    margin-bottom: 10px;

}

p{

	position: relative;
	font-size: 22px;
	text-align: center;
    opacity: 0;
    bottom: 20px;
    margin-bottom: -20px;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
    overflow: hidden;

}

h2:hover+p {

	bottom: 0px;
    opacity: 1;
    margin-bottom: 0px;
}



li {
    display: inline;
}






#social-icons {
    list-style-type: none;
    color: white;

  }
  #social-icons li {
    display: inline;
  }
  #social-icons a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  .social-icon {
      margin: 5px;

  }
  .fa-facebook {
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition: .4s;
    color: gray;
  }
  .fa-facebook:hover {
    color: #3d5b99;
  }

.fa-whatsapp{
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition: .4s;
    color: gray;
}

.fa-whatsapp:hover{
    color:rgb(21, 102, 45);
}


  .fa-instagram {
 
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition: .4s;
    color: gray;
  }
  .fa-instagram:hover {
    color: #8a3ab9;
  }
  .fa-linkedin {
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition: .4s;
    color: gray;
  }
  .fa-linkedin:hover {
    color: #2e2928;
  }